## general
.DS_Store
*.jar
*.pyc
*.pyo
*.swo
*.swp
*.orig
.history
Thumbs.db


## IDEA
/*.idea
/*.idea_modules
/*.iml
/*.iws
.idea/
.idea_modules/


## sbt
/project/project
/project/target
/target

target/

## test
/data

